#currentAlbum {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

#colorBlock {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black
}

#trustButton {
    display: none;
}

body {
    background-color: #17171a;
    color: white;
}